.career-tabs-body {
  margin-top: 40px;

  .career-search {
    display: flex;
    align-items: center;
    border-radius: 15px;

    .input-text {
      padding: 20px 60px;
      background: #2D363B;
      border-radius: 15px 0 0 15px;

      p {
        font-weight: 600;
        font-size: 25px;
        line-height: 34px;
        color: #FCFCFC;
        margin: 0;
      }
    }

    .input-row {
      flex: 1;
      padding: 20px 60px;
      background: #FCFCFC;
      border-top: 3px solid #D3D3D3;
      border-right: 3px solid #D3D3D3;
      border-bottom: 3px solid #D3D3D3;
      border-radius: 0 15px 15px 0;
      display: flex;
      align-items: center;

      input {
        width: 100%;
        border: none;
        font-size: 20px;
        line-height: 27px;
        color: #999999;

        &::placeholder {
          font-size: 20px;
          line-height: 27px;
          color: #999999;
        }
      }

      img {
        margin: 0 0 0 5px;
      }
    }
  }

  .tab-content {
    margin: 0 0 0 0;

    .vacancy-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 30px;
      margin: 90px 0 140px 0;

      .vacancy-item {
        background: #FCFCFC;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        height: 320px;
        overflow: hidden;
        position: relative;
        transition: all .3s ease-in;

        .vacansy-header {
          background: #2D363B;
          padding: 30px 0 25px 0;
          display: flex;
          align-items: center;
          justify-content: center;

          h3 {
            font-size: 25px;
            line-height: 30px;
            color: #FCFCFC;
            margin: 0;
          }

          img {
            margin-left: 25px;
          }
        }

        .vacansy-body {
          text-align: center;

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            line-height: 30px;
            color: #2D363B;
            margin: 35px 0 40px 0;
            transition: all .3s ease-in;

            &:not(:last-child) {
              margin-bottom: 20px;
            }
          }
        }

        .vacansy-btn-row {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 0;
          opacity: 0;
          left: 25%;
          transition: all .3s ease-in;


          .vacansy-btn {
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
            color: #2D363B;
            padding: 10px 40px;
            background: #FCFCFC;;
            border-radius: 15px;
          }
        }

        &:hover {
          background: #2D363B;
          cursor: pointer;

          .vacansy-body {

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 25px;
              line-height: 30px;
              color: #FCFCFC;
              margin: 0;

              &:not(:last-child) {
                margin-bottom: 10px;
              }
            }
          }

          .vacansy-btn-row {
            opacity: 1;
            margin-bottom: 40px;
          }
        }
      }
    }

    //
    .about-tab, .life-tab, .practicum-tab {
      text-align: center;
      padding: 0 180px 0 180px;

      h3 {
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;
        color: #2D9CDB;
        margin: 0 0 40px 0;
      }

      p {
        font-size: 25px;
        line-height: 34px;
        color: #000;
        margin: 0;
      }
    }

    .about-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 125px;
      margin-top: 125px;

      .about-gird-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .about-item-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0 90px 0 90px;
          text-align: center;

          h3 {
            font-weight: bold;
            font-size: 30px;
            line-height: 41px;
            margin: 0 0 50px 0;
            color: #2D9CDB;
          }

          p {
            font-size: 24px;
            line-height: 33px;
            color: #212121;
            margin: 0;
          }
        }

        .about-item-img {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(-88.79deg, #fff -40%, rgba(255, 255, 255, 0) 107.4%);
          }
        }
      }
    }

    .about-steps {
      display: flex;
      justify-content: space-between;
      margin: 150px 0 140px 0;

      .steps-item {
        flex: 50%;


        .steps-item-icon {
          display: flex;
          align-items: flex-start;

          .steps-item-icon-img {
            margin-right: 25px;
          }

          .steps-item-icon-text {
            h3 {
              font-size: 32px;
              line-height: 100%;
              margin: 0 0 8px 0;
              color: #2D9CDB;
            }

            p {
              font-size: 16px;
              line-height: 26px;
              margin: 0;
              color: #2D363B;
            }
          }

          &:not(:last-child) {
            margin-bottom: 65px;
          }
        }

      }

      .blue-item {
        background: #2D9CDB;
        padding: 55px 30px 30px 60px;

        span {
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          color: #FCFCFC;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            right: -90px;
            top: 50%;
            width: 70px;
            height: 2px;
            background: #FCFCFC;
          }
        }

        h3 {
          font-weight: bold;
          font-size: 36px;
          line-height: 46px;
          margin: 10px 0 30px 0;
          color: #FCFCFC;
        }

        p {
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          margin: 0;
          color: #FCFCFC;
        }
      }

    }

    .life {
      display: flex;
      margin: 180px 0 180px 0;

      .life-tab-photo {
        flex: 60%;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        .photo-item {
          //margin: 0 70px 70px 0;

          img {
            max-width: 275px;
            max-height: 185px;
          }

          &:nth-child(1) {
            margin-right: 70px;
          }

          &:nth-child(3) {
            margin-right: 70px;
          }

          &:not(:last-child) {
            margin-bottom: 70px;
          }
        }

        .photo-item-center {
          position: absolute;
          top: 25%;
          left: 25%;
        }
      }

      .life-tab-text {
        flex: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .life-tab-text-row {


          h3 {
            font-weight: bold;
            font-size: 30px;
            line-height: 41px;
            color: #2D9CDB;
            margin: 0 0 40px 0;
          }

          p {
            font-size: 24px;
            line-height: 33px;
            color: #212121;
          }
        }


      }
    }

    .our-core {
      background: #162025;
      padding: 75px 0 65px 0;
      position: relative;

      .title-row {
        text-align: center;
        padding-bottom: 65px;

        h3 {
          font-weight: bold;
          font-size: 36px;
          line-height: 49px;
          color: #FCFCFC;
          margin: 0;
        }
      }

      .our-core-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 0;
        grid-row-gap: 50px;
        z-index: 1;

        .items {
          padding: 0 90px 0 90px;

          h3 {
            font-weight: bold;
            font-size: 30px;
            line-height: 41px;
            margin: 0 0 35px;
            color: #FCFCFC;
          }

          p {
            font-size: 24px;
            line-height: 33px;
            margin: 0;
            color: #FCFCFC;
          }
        }
      }

      &:after {
        content: '';
        position: absolute;
        left: -330px;
        top: 0;
        width: 100%;
        height: 100%;
        background: #162025;
        z-index: -1;
      }

      &:before {
        content: '';
        position: absolute;
        right: -330px;
        top: 0;
        width: 100%;
        height: 100%;
        background: #162025;
        z-index: -1;
      }

    }

    .practicum-tab {
      min-height: 500px;
    }

  }
}

