.reviews {
  background: #162025;

  .title_block {
    padding-bottom: 95px;
  }

  .reviews-slider {
    padding-bottom: 65px;

    .reviews-swiper {
      padding: 10px;
      width: 100%;
      height: 100%;

      .swiper-wrapper {
        .swiper-slide {
          .reviews {
            background-image: url('../images/dist/review1.png');
            background-position: center;
            background-size: cover;
            border-radius: 15px;
            background-repeat: no-repeat;
            overflow: hidden;
            min-height: 390px;

            p {
              font-weight: bold;
              font-size: 30px;
              line-height: 41px;
              color: #FCFCFC;
              margin: 0;
              max-width: 480px;
              padding: 130px 0 20px 80px;
            }

            span {
              font-size: 18px;
              line-height: 25px;
              color: #FCFCFC;
              margin-top: 60px;
              display: block;
              padding-left: 40px;
            }
          }
        }
      }



      /*move swiper pagination on top to image */
      .swiper-pagination {
        margin-top: 40px;
        display: flex;
        justify-content: center;
      }

      .swiper-pagination-bullet {
        background: #C4C4C4;
        display: inline-block;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        &:not(:last-child){
          margin-right: 15px;
        }
      }

      /* change color of next 2 bullets in sequence to white*/

      .swiper-pagination-bullet-active-next, .swiper-pagination-bullet-active-next-next {
        background-color: white;
      }

      /* change color of previous bullet to white*/

      .swiper-pagination-bullet-active {
        background: #56CCF2 !important;
      }
    }
  }
}
